.cocktail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;

  div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    white-space: nowrap;
  }
}
