.cocktail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
  svg {
    height: 100%;
  }
}

.text {
  width: 100% !important;
  text-align: center;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
