$primary: #731e96;

.square {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  aspect-ratio: 1 / 1;
}

.button {
  width: 100%;
  border-radius: 9999px;
  background-color: $primary;
  height: 50px;
  color: white;
  margin: 2rem 0;
  border: none;
  font-size: 14px;

  cursor: pointer;

  &:disabled {
    background-color: #464646;
    cursor: not-allowed;
  }
}

.ul {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
  }
  div::before {
    display: inline-block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $primary;
    margin-right: 5px;
  }
  input,
  textarea {
    background-color: #323232;
    border: none;
    outline: none;
    color: white;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 5px;
    resize: none;
    ::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
